*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .header__top {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}
.header .header__top .header__left .logo {
  position: absolute;
  top: 9px;
}
.header .header__top .header__right .cart {
  font-weight: 300;
  position: relative;
  padding-right: 25px;
}
.header .header__top .header__right .cart span {
  font-weight: 300;
  position: absolute;
  top: -2px;
  font-size: 25px;
  color: #f6f6f6;
}
.header .header__top .header__right .login a {
  font-weight: 300;
  color: #f6f6f6;
  padding: 0 20px;
}
.header .header__top .header__right .register a {
  font-weight: 300;
  color: #f6f6f6;
}
.header .navbar .container-fluid {
  padding: 0 17px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin: 0 10px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 40px;
  left: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer .container-fluid .content-1 {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
footer .container-fluid .content-1 .item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-1 .item ul {
  padding-left: 0;
}
footer .container-fluid .content-1 .item ul li a {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
}
footer .container-fluid .content-1 .item-3 ul li,
footer .container-fluid .content-1 .item-3 ul li, footer .container-fluid .content-1 p {
  font-size: 15px;
}
footer .container-fluid .content-2 {
  background-color: rgba(219, 214, 214, 0.358);
}
footer .container-fluid .content-2 .container-fluid .row {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul {
  padding-left: 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li p {
  font-size: 15px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li a {
  font-size: 15px;
  color: red;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .header__top {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}
.header .header__top .header__left .logo {
  position: absolute;
  top: 9px;
}
.header .header__top .header__right .cart {
  font-weight: 300;
  position: relative;
  padding-right: 25px;
}
.header .header__top .header__right .cart span {
  font-weight: 300;
  position: absolute;
  top: -2px;
  font-size: 25px;
  color: #f6f6f6;
}
.header .header__top .header__right .login a {
  font-weight: 300;
  color: #f6f6f6;
  padding: 0 20px;
}
.header .header__top .header__right .register a {
  font-weight: 300;
  color: #f6f6f6;
}
.header .navbar .container-fluid {
  padding: 0 17px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin: 0 10px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 40px;
  left: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer .container-fluid .content-1 {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
footer .container-fluid .content-1 .item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-1 .item ul {
  padding-left: 0;
}
footer .container-fluid .content-1 .item ul li a {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
}
footer .container-fluid .content-1 .item-3 ul li,
footer .container-fluid .content-1 .item-3 ul li, footer .container-fluid .content-1 p {
  font-size: 15px;
}
footer .container-fluid .content-2 {
  background-color: rgba(219, 214, 214, 0.358);
}
footer .container-fluid .content-2 .container-fluid .row {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul {
  padding-left: 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li p {
  font-size: 15px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li a {
  font-size: 15px;
  color: red;
}

.product .container .row {
  margin-top: 36px;
}
.product .container .row .image-product img {
  margin-left: 100px;
  padding: 109px 57px 90px 57px;
  background-color: #F8F8F8;
}
.product .container .row .product-detail h3 {
  color: #000000;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
}
.product .container .row .product-detail p {
  color: #140101;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.36px;
}
.product .container .row .product-detail h4 {
  color: #1ED90E;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29.05px;
}
.product .container .row .product-detail .size .size-number {
  padding: 11px 10px;
  text-align: center;
  line-height: 29px;
  margin: 17px 10px 17px 0;
  font-size: 24px;
  font-weight: 600;
  color: #1E1D1D;
  background-color: #CCCCCC;
}
.product .container .row .product-detail .price {
  font-size: 30px;
  font-weight: 600;
  color: #FC0303;
  margin-bottom: 17px;
}
.product .container .row .product-detail .addtocart {
  font-weight: 400;
  font-size: 30px;
}
.product .container .row .product-detail .addtocart .fa {
  font-size: 30px;
  color: #FFFCFC;
  padding: 7px 10px;
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
}
.product .container .row .product-detail .addtocart .btn-addtocart {
  font-size: 24px;
  color: #FFF8F8;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  padding: 5px 25px;
  border: none;
  outline: none;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .header__top {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}
.header .header__top .header__left .logo {
  position: absolute;
  top: 9px;
}
.header .header__top .header__right .cart {
  font-weight: 300;
  position: relative;
  padding-right: 25px;
}
.header .header__top .header__right .cart span {
  font-weight: 300;
  position: absolute;
  top: -2px;
  font-size: 25px;
  color: #f6f6f6;
}
.header .header__top .header__right .login a {
  font-weight: 300;
  color: #f6f6f6;
  padding: 0 20px;
}
.header .header__top .header__right .register a {
  font-weight: 300;
  color: #f6f6f6;
}
.header .navbar .container-fluid {
  padding: 0 17px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin: 0 10px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 40px;
  left: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer .container-fluid .content-1 {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
footer .container-fluid .content-1 .item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-1 .item ul {
  padding-left: 0;
}
footer .container-fluid .content-1 .item ul li a {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
}
footer .container-fluid .content-1 .item-3 ul li,
footer .container-fluid .content-1 .item-3 ul li, footer .container-fluid .content-1 p {
  font-size: 15px;
}
footer .container-fluid .content-2 {
  background-color: rgba(219, 214, 214, 0.358);
}
footer .container-fluid .content-2 .container-fluid .row {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul {
  padding-left: 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li p {
  font-size: 15px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li a {
  font-size: 15px;
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  background: #FFFFFF;
  position: relative;
  background-image: url("../../img/image 6.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel .img img {
  width: 100%;
}
.carousel .mo-ta h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.carousel .mo-ta p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.carousel .mo-ta button {
  background: #F8B653;
  width: 150px;
  height: 50px;
  left: 930px;
  top: 225px;
}
.carousel .mo-ta button span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.carousel .bg-carousel {
  position: absolute;
  width: 1334px;
  height: 393px;
  left: -36px;
  top: 107px;
}

#arr-1 {
  box-sizing: border-box;
  width: 60px;
  height: 45.71px;
}

#arr-2 {
  width: 60px;
  height: 45.71px;
  box-sizing: border-box;
}

@media all and (max-width: 576px) {
  #arr-1, #arr-2 {
    display: none;
  }
}
.product .content-header {
  text-align: center;
  margin-top: 16px;
}
.product .content-header h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.product .list-item .item {
  padding: 57px 45px;
}
.product .list-item .item .background {
  background-color: #F8F8F8;
}
.product .list-item .item .background .img-product {
  text-align: center;
}
.product .list-item .item .background .img-product img {
  width: 220px;
  height: 156px;
}
.product .list-item .item .background .content-text {
  margin-left: 23px;
}
.product .list-item .item .background .content-text h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: black;
}
.product .list-item .item .background .content-text p {
  height: 95px;
}
.product .list-item .item .background .button {
  display: flex;
  align-items: center;
}
.product .list-item .item .background .button .buynow {
  width: 50%;
  background: #E1B067;
  width: 175px;
  height: 64px;
}
.product .list-item .item .background .button .buynow span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  color: black;
}
.product .list-item .item .background .button .price {
  height: 64px;
  width: 50%;
  background-color: #DEDDDC;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .list-item .item .background .button .price span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  display: block;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header .header__top {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 24px;
}
.header .header__top .header__left .logo {
  position: absolute;
  top: 9px;
}
.header .header__top .header__right .cart {
  font-weight: 300;
  position: relative;
  padding-right: 25px;
}
.header .header__top .header__right .cart span {
  font-weight: 300;
  position: absolute;
  top: -2px;
  font-size: 25px;
  color: #f6f6f6;
}
.header .header__top .header__right .login a {
  font-weight: 300;
  color: #f6f6f6;
  padding: 0 20px;
}
.header .header__top .header__right .register a {
  font-weight: 300;
  color: #f6f6f6;
}
.header .navbar .container-fluid {
  padding: 0 17px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin: 0 10px;
}
.header .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 40px;
  left: 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

footer .container-fluid .content-1 {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}
footer .container-fluid .content-1 .item h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-1 .item ul {
  padding-left: 0;
}
footer .container-fluid .content-1 .item ul li a {
  font-size: 15px;
  color: #000000;
  font-weight: normal;
}
footer .container-fluid .content-1 .item-3 ul li,
footer .container-fluid .content-1 .item-3 ul li, footer .container-fluid .content-1 p {
  font-size: 15px;
}
footer .container-fluid .content-2 {
  background-color: rgba(219, 214, 214, 0.358);
}
footer .container-fluid .content-2 .container-fluid .row {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul {
  padding-left: 0;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li p {
  font-size: 15px;
}
footer .container-fluid .content-2 .container-fluid .row .ct ul li a {
  font-size: 15px;
  color: red;
}

.register .input input {
  height: 40px;
  border: none;
  border-bottom: 5px solid #AE18E2;
}
.register .input input::-moz-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: black;
}
.register .input input:-ms-input-placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: black;
}
.register .input input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: black;
}
.register .radio {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
}
.register .radio input {
  margin-left: 6.54px;
  width: 65.42px;
  height: 50px;
}
.register .radio input[name=gender] {
  accent-color: #AE18E2;
}
.register button {
  background: #AE18E2;
  width: 291px;
  height: 50px;
  margin-top: 85px;
}
.register button h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #FFFCFC;
}