@import './base/reset';
@import './base/typography';

@import './components/button';

@import './layouts/header';
@import './layouts/footer';

@import './pages/detail';
@import './pages/index';
@import './utils/variable';


