$add-remove-icon-bgcolor: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$add-to-cart-bgcolor: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);

$buy-color: #E1B067;
$price-color: #DEDDDC;