
@import '../layouts/header';
@import '../layouts/footer';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel
{
    background: #FFFFFF;
    position: relative;
    background-image: url('../../img/image\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    .img
    {
        img
        {
            width: 100%;
        }
    }
    .mo-ta
    {
        h4
        {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
            color: #000000;
        }
        p
        {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
        }
        button
        {
            background: #F8B653;
            width: 150px;
            height: 50px;
            left: 930px;
            top: 225px;
            span
            {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
    .bg-carousel
    {
        position: absolute;
        width: 1334px;
        height: 393px;
        left: -36px;
        top: 107px;
    }

}
#arr-1
{
    box-sizing: border-box;
    width: 60px;
    height: 45.71px;

}
#arr-2
{
    width: 60px;
    height: 45.71px;
    box-sizing: border-box;
}
@media all and (max-width: 576px) {

        #arr-1,#arr-2
        {
            display: none;
        }

  }


.product
{
    .content-header
    {
        text-align: center;
        margin-top: 16px;
        h2
        {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            color: #000000;

        }
    }
    .list-item
    {
        .item
        {
            padding: 57px 45px;
            .background
            {
                background-color: #F8F8F8;
                .img-product
                {            
                    text-align: center;
                    img
                    {
                        width: 220px;
                        height: 156px;
                    }
                }
                .content-text
                {
                    margin-left: 23px;
                    h5
                    {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 29px;
                        color: black;
                    }
                    p
                    {
                        
                    }
                }
                .button
                {
                    display: flex;
                    align-items: center;
                    .buynow
                    {
                        width: 50%;
                        background: #E1B067;
                        width: 175px;
                        height: 64px;
                        
                        span
                        {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 200;
                            font-size: 24px;
                            line-height: 29px;
                            color: black;
                        }
                    }
                    .price
                    {
                        height: 64px;
                        width: 50%;
                        background-color: #DEDDDC;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span
                        {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            display: block;
                            
                        }
                    }
                }
            }
        }
    }
}